* {
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}

body {
    background-image: url(image/lake.jpg);
    overflow-y: scroll;
    overflow-x: scroll;
}

h1 {
    color: aqua;
    margin-left: 200px;
    margin-top: 5px;
    /* text-shadow: brown; */
    /* text-wrap: pretty; */
    background-color: rgba(135, 170, 170, 0.747);
    width: auto;
    height: 100px;
    overflow: auto;

}